<button (click)="windowComponent.doPopOut()" style="margin-right: 10px">pop it Out</button>
<button (click)="windowComponent.doPopIn()">back inside</button>
<br /><br />
<label title="someJah">
  someJah
  <input [(ngModel)]="someJah" />
</label><br /><br />
<label title="someJah">
  windowWidth
  <input [(ngModel)]="windowComponent.windowWidth" type="number" style="max-width: 100px;" />
  if less then 100 then width is the content width
</label><br /><br />
<label title="someJah">
  windowHeight
  <input [(ngModel)]="windowComponent.windowHeight" type="number" style="max-width: 100px;" />
  if less then 100 then height is the content height
</label><br /><br />
<label title="someJah">
  large content
  <input type="checkbox" [(ngModel)]="this.isChecked" />
</label><br /><br />
<h1>start here</h1>
<hr>
<app-popout-window #windowComponent>
  <div class="div1" style="border: 7px solid gray; padding: 10px">
    <label class="label1">
      <input [(ngModel)]="someJah" />
    </label>
    <br />
    <button (click)="windowComponent.doPopOut()" style="margin-right: 10px">pop me Out</button>
    <button (click)="windowComponent.doPopIn()">take me inside</button>

    <app-ng-start *ngIf="this.isChecked"></app-ng-start>
  </div>
</app-popout-window>
<hr>
<h1>the end</h1>

